<!-- <h2>CODER</h2>
<div class="row1">
    <div>One</div>
    <div>Two</div>
    <div>Three<br/> Adding<br/> Extra<br/> Text
    </div>
</div>

<div class="row2">
    <div>One</div>
    <div>Two</div>
    <div>Three
    </div>
</div>

<div class="row3">
    <div>One</div>
    <div>Two</div>
    <div>Three<br/> You<br/> have to <br/>learn a lot to be successful in life</div>
</div> -->

<mat-toolbar class="mat-elevation-z3">
    <img src="institution/coder-logo.png" width="68px">

    <span class="spacer"></span>
    <button mat-mini-fab style="background-color: coral;" (click)="openLoginWindow()">Login</button>
</mat-toolbar>

<div class="row4">
    <div class="one"> <h2><span>&lt;CODER/&gt;</span></h2> </div>
</div>

<div class="flexcontainer">
    <div class="header">
        Learning components
    </div>
    <div class="middle">
        <div class="left">
        </div>
        <div class="center"></div>
        <div class="right"></div>
    </div>
    <div class="footer">
        <div>Footer</div>
    </div>
</div>